html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
  min-width: 320px;
  font-size: 16px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}



.hidden {//для читалок только для текстов
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}
